<div class="container" *ngIf="project">

    <div class="image">
        <img src="{{url + 'get-image/' + project.image}}" *ngIf="project.image"/>
        <img src="../../../assets/img/no-image.jpg"  *ngIf="!project.image"/>
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.description}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p>
        <p *ngIf="confirm == false">
            <a [routerLink]="['/editar-proyecto', project._id]" class="button-edit">Editar</a>
            <a (click)="setCofirm(true)" class="button-delete">Borrar</a>
        </p>
        <p *ngIf="confirm == true">
            <span class="confirm">¿Estás seguro que quieres eliminar el proyecto?</span>
            <a (click)="setCofirm(false)" class="button-edit">Cancelar</a>
            <a (click)="deleteProject(project._id)" class="button-delete">Eliminar</a>
        </p>
    </div>
    
</div>